@import "tailwindcss";
@import url("fonts/inter/inter.css");
@import url("fonts/pingfang/pingfang.css");

body {
    font-family: "SF Pro Text", "Helvetica Neue", Helvetica, "Inter", Arial, sans-serif;
}

body:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "PingFang SC", "Helvetica Neue", Helvetica, "Inter", Arial, sans-serif;
}

body:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Text", "PingFang TC", "Helvetica Neue", Helvetica, "Inter", Arial, sans-serif;
}

[data-theme="light"] {
    --color-gray-50: #000000;
    --color-gray-600: #1d1d1f;
    --color-gray-700: #ccccc7;
    --color-gray-800: #86868b;
    --color-gray-900: #f5f5f7;
    --color-gray-950: #ffffff;
    --color-blue-500: #2997ff;
    --color-button-blue: #0071e3;
    --color-button-blue-hover: #0076df;
    --color-button-blue-active: #006edb;
    --color-header: rgba(250, 250, 252, 0.8);
    --color-header-border: rgba(0, 0, 0, 0.24);
    --color-header-border-active: rgba(0, 0, 0, 0.76);
    --color-hover: var(--color-gray-50);
    --color-footer-text: #424245;
    --color-footer: var(--color-footer-text);
    --color-link: #0070c9;
    --color-button-gray-hover: #272729;
    --color-button-gray-text: var(--color-gray-600);
    --color-button-gray-active: #1f1f22;
    --color-button-gray-text-hover: var(--color-white);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-gray-50: #000000;
        --color-gray-600: #1d1d1f;
        --color-gray-700: #ccccc7;
        --color-gray-800: #86868b;
        --color-gray-900: #f5f5f7;
        --color-gray-950: #ffffff;
        --color-blue-500: #2997ff;
        --color-button-blue: #0071e3;
        --color-button-blue-hover: #0076df;
        --color-button-blue-active: #006edb;
        --color-header: rgba(250, 250, 252, 0.8);
        --color-header-border: rgba(0, 0, 0, 0.24);
        --color-header-border-active: rgba(0, 0, 0, 0.76);
        --color-hover: var(--color-gray-50);
        --color-footer-text: #424245;
        --color-footer: var(--color-footer-text);
        --color-link: #0070c9;
        --color-button-gray-hover: #272729;
        --color-button-gray-text: var(--color-gray-600);
        --color-button-gray-active: #1f1f22;
        --color-button-gray-text-hover: var(--color-white);
    }

    [data-theme="dark"] {
        --color-gray-50: #f5f5f7;
        --color-gray-600: #1d1d1f;
        --color-gray-700: #333338;
        --color-gray-800: #86868b;
        --color-gray-900: #141414;
        --color-gray-950: #000000;
        --color-blue-500: #2997ff;
        --color-button-blue: #0071e3;
        --color-button-blue-hover: #0076df;
        --color-button-blue-active: #006edb;
        --color-header: rgba(22, 22, 23, 0.8);
        --color-header-border: rgba(255, 255, 255, 0.24);
        --color-header-border-active: rgba(255, 255, 255, 0.76);
        --color-hover: var(--color-blue-500);
        --color-footer-text: #d2d2d7;
        --color-footer: var(--color-footer-text);
        --color-link: #0070c9;
        --color-button-gray-hover: var(--color-white);
        --color-button-gray-text: #f5f5f7;
        --color-button-gray-active: #1f1f22;
        --color-button-gray-text-hover: var(--color-black);
    }
}

@media (prefers-color-scheme: dark) {
    [data-theme="dark"] {
        --color-gray-50: #f5f5f7;
        --color-gray-600: #1d1d1f;
        --color-gray-700: #333338;
        --color-gray-800: #86868b;
        --color-gray-900: #141414;
        --color-gray-950: #000000;
        --color-blue-500: #2997ff;
        --color-button-blue: #0071e3;
        --color-button-blue-hover: #0076df;
        --color-button-blue-active: #006edb;
        --color-header: rgba(22, 22, 23, 0.8);
        --color-header-border: rgba(255, 255, 255, 0.24);
        --color-header-border-active: rgba(255, 255, 255, 0.76);
        --color-hover: var(--color-blue-500);
        --color-footer-text: #d2d2d7;
        --color-footer: var(--color-footer-text);
        --color-link: #0070c9;
        --color-button-gray-hover: var(--color-white);
        --color-button-gray-text: #f5f5f7;
        --color-button-gray-active: #1f1f22;
        --color-button-gray-text-hover: var(--color-black);
    }
}

#languageSelector {
    direction: rtl;
}

#support-toggle:checked+.support h3::after {
    transform: rotate(45deg);
}

#community-toggle:checked+.community h3::after {
    transform: rotate(45deg);
}